h1, h3 {
    color: navy;
    margin-left: 20px;
  }
header {
    margin-bottom: 60px;
}

.button-container, h3 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-label {
    width: 60px;
}

input::placeholder {
    font-style: italic;
}
 