h1, h3 {
    color: navy;
    margin-left: 20px;
  }

.button-container, h3 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-label {
    width: 60px;
}

input::placeholder {
    font-style: italic;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(73, 73, 116);
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}
 